/.vs
/NetCoreRpc/obj
/NetCoreRpc/bin
/NetCoreRpc.Application/obj
/NetCoreRpc.Application/bin
/NetCoreRpc.ClientTest/obj
/NetCoreRpc.ClientTest/bin
/NetCoreRpc.ServerTest/obj
/NetCoreRpc.ServerTest/bin
/NetCoreRpc.Test/obj
/NetCoreRpc.Test/bin
/NetCoreRpc.ServerTest/Properties/PublishProfiles
/NetCoreRpc.ZK/obj
/NetCoreRpc.ZK/bin
/NRpc/obj
/NRpc/bin
/NRpc.ClientTest/obj
/NRpc.ClientTest/bin
/NRpc.ServerTest/obj
/NRpc.ServerTest/bin
/NRpc.Serializer/obj
/NRpc.Serializer/bin
/NRpcSerializer/obj
/NRpcSerializer/bin
/NRpcSerializer.Test/obj
/NRpcSerializer.Test/bin
/NetCoreRpc.MongoDB/obj
/NetCoreRpc.MongoDB/bin
/NRpc.MongoDB/obj
/NRpc.MongoDB/bin
