<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台模板</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/app-icon72x72@2x.png">
    <link rel="stylesheet" href="/css/amazeui.css" />
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/page/typography.css" />
    <link rel="stylesheet" href="/css/page/form.css" />
    <link rel="stylesheet" href="/css/component.css" />
</head>
<body>

    <div class="admin">
        <div class="admin-sidebar am-offcanvas  am-padding-0" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">

                <ul class="am-list admin-sidebar-list">
                    <li><a href="/Home"><span class="am-icon-home"></span> 首页</a></li>
                    @*<li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-table"></span> 表格 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">
                            <li><a href="html/table_basic.html" class="am-cf"> 基本表格</span></a></li>
                            <li><a href="html/table_complete.html">完整表格</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><i class="am-icon-line-chart" aria-hidden="true"></i> 统计图表 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2">
                            <li><a href="html/chart_line.html" class="am-cf"> 折线图</span></a></li>
                            <li><a href="html/chart_columnar.html" class="am-cf"> 柱状图</span></a></li>
                            <li><a href="html/chart_pie.html" class="am-cf"> 饼状图</span></a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav5'}"><span class="am-icon-file"></span> 表单 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav5">
                            <li><a href="html/form_basic.html" class="am-cf"> 基本表单</a></li>
                            <li><a href="html/form_validate.html">表单验证</a></li>
                        </ul>
                    </li>*@
                </ul>
            </div>
        </div>

        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                <div class="am-g" style="margin-bottom:30px;">

                    <div class="am-u-md-12">
                        <select class=" am-radius" style="width:120px;" id="timeType">
                            <option value="">自定义</option>
                            <option value="30" @(ViewBag.TimeType != null && ViewBag.TimeType == 30 ? "selected" : "")>近30分钟</option>
                            <option value="60" @(ViewBag.TimeType != null && ViewBag.TimeType == 60 ? "selected" : "")>近一小时</option>
                            <option value="120" @(ViewBag.TimeType != null && ViewBag.TimeType == 120 ? "selected" : "")>近两小时分钟</option>
                        </select>
                        <label>起始时间：</label> <input type="text" style="width:150px;" id="startTime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm',maxDate:'#F{$dp.$D(\'endTime\')||\'%y-%M-%d %H:%m\'}'})">
                        <label>结束时间：</label> <input type="text" id="endTime" style="width:150px;" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm',maxDate:'%y-%M-%d %H:%m',minDate:'#F{$dp.$D(\'startTime\')}'})">
                        <button class="am-btn am-btn-default" type="button" onclick="Install()">搜索</button>
                    </div>
                </div>

                <div class="am-g">
                    <!-- Row start -->

                    <div class="am-u-md-4">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">执行统计</h4>
                            <div class="widget-chart-1 am-cf">
                                <div class="widget-detail-1" style="float: left;">
                                    <h2 class="p-t-10 m-b-0 text-center" id="TotalExcuteCount"></h2>
                                    <p class="text-muted text-center">执行总数</p>
                                </div>
                                <div class="widget-detail-1" style="float: left;">
                                    <h2 class="p-t-10 m-b-0 text-center text-danger" id="TotalErrorCount"></h2>
                                    <p class="text-muted text-center">错误数量</p>
                                </div>
                                <div class="widget-detail-1" style="float: left;">
                                    <h2 class="p-t-10 m-b-0 text-center" id="EverySecondExcuteCount"></h2>
                                    <p class="text-muted text-center">平均每秒执行</p>
                                </div>
                                <div class="widget-detail-1" style="float: left;">
                                    <h2 class="p-t-10 m-b-0 text-center" id="AvgExcutedMillisecond"></h2>
                                    <p class="text-muted text-center">平均耗时</p>
                                </div>
                                <div class="widget-detail-1" style="float: left;">
                                    <h2 class="p-t-10 m-b-0 text-center" id="MaxExcutedMillisecond"></h2>
                                    <p class="text-muted text-center">最大耗时</p>
                                </div>
                                <div class="widget-detail-1" style="float: left;">
                                    <h2 class="p-t-10 m-b-0 text-center" id="MinExcutedMillisecond"></h2>
                                    <p class="text-muted text-center">最小耗时</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="am-u-md-8">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">执行数量</h4>
                            <div id="statis-excute-count" style="height: 300px"></div>
                        </div>
                    </div>

                    <!-- Row end -->
                </div>

                <div class="am-g">
                    <!-- Row start -->

                    <div class="am-u-md-12">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">执行耗时</h4>
                            <div id="statis-excute-spend" style="height: 300px"></div>
                        </div>
                    </div>

                    <!-- Row end -->
                </div>

                <div class="am-g">
                    <!-- col start -->
                    <div class="am-u-md-12">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">方法请求列表</h4>
                            <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                                <table class="am-table am-text-nowrap" id="MethodRequestList">
                                    <thead>
                                        <tr>
                                            <th class='text-center'>方法信息</th>
                                            <th class='text-center'>请求次数</th>
                                            <th class='text-center'>错误次数</th>
                                            <th class='text-center'>平均消耗时间</th>
                                            <th class='text-center'>最大消耗时间</th>
                                            <th class='text-center'>最小消耗时间</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="am-cf" id="MethodRequestList-PageInfo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                </div>

                <div class="am-g">
                    <!-- col start -->
                    <div class="am-u-md-12">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">错误方法列表</h4>
                            <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                                <table class="am-table am-text-nowrap" id="ErrorMethodRequestList">
                                    <thead>
                                        <tr>
                                            <th class='text-center'>方法信息</th>
                                            <th class='text-center'>请求时间</th>
                                            <th class='text-center'>错误原因</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="am-cf" id="ErrorMethodRequestList-PageInfo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                </div>



            </div>
        </div>
        <!-- end right Content here -->
    </div>

    <!-- navbar -->

    <script type="text/javascript" src="/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="/js/amazeui.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/blockUI.js"></script>
    <script type="text/javascript" src="/js/charts/echarts.min.js"></script>
    <script src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        (function () {
            Install();

        })();

        function Install() {
            InstallLoadExcuteCount();
            InstallLoadExcuteMethod(1);
            InstallLoadExcuteErrorMethod(1);
        }

        function InstallLoadExcuteCount() {
            $.ajax({
                type: "get",
                url: "/Home/LoadExcuteCount",
                data: { timeType: $("#timeType").val(), startTime: $("#startTime").val(), endTime: $("#endTime").val() },
                success: function (data) {
                    console.log(data);
                    setTotalStatistic(data);
                    var excuteCountChart = echarts.init(document.getElementById("statis-excute-count"));
                    var excuteCountSeriesData = createSeries(data.statisticList, ['执行数量', '错误数量']);
                    var excuteCountOption = createOption(['执行数量', '错误数量'], data.statisticList[0].timeArray, excuteCountSeriesData)
                    excuteCountChart.setOption(excuteCountOption);

                    var excuteSpendChart = echarts.init(document.getElementById("statis-excute-spend"));
                    var excuteSpendSeriesData = createSeries(data.statisticList, ['平均耗时', '最大耗时', '最小耗时']);
                    var excuteSpendOption = createOption(['平均耗时', '最大耗时', '最小耗时'], data.statisticList[0].timeArray, excuteSpendSeriesData)
                    excuteSpendChart.setOption(excuteSpendOption);
                }
            })
            function setTotalStatistic(data) {
                $("#TotalExcuteCount").text(data.totalExcuteCount);
                $("#TotalErrorCount").text(data.totalErrorCount);
                $("#EverySecondExcuteCount").text(data.everySecondExcuteCount);
                $("#AvgExcutedMillisecond").text(data.avgExcutedMillisecond.toFixed(3) + 'ms');
                $("#MaxExcutedMillisecond").text(data.maxExcutedMillisecond.toFixed(3) + 'ms');
                $("#MinExcutedMillisecond").text(data.minExcutedMillisecond.toFixed(3) + 'ms');
            }
        };

        function InstallLoadExcuteMethod(pageIndex) {
            $.ajax({
                type: "get",
                url: "/Home/LoadExcuteMethod",
                data: { timeType: $("#timeType").val(), startTime: $("#startTime").val(), endTime: $("#endTime").val(), pageIndex: pageIndex },
                success: function (data) {
                    console.log(data);
                    var bodyHtml = "";
                    if (data.data) {
                        for (var i = 0; i < data.data.length; i++) {
                            bodyHtml += "<tr>";
                            bodyHtml += "<td class='text-center'>" + data.data[i].requestTypeName + "-" + data.data[i].requestMethodName + "-" + data.data[i].requestParameterCount + "</td>";
                            bodyHtml += "<td class='text-center'>" + data.data[i].totalExcuteCount + "</td>";
                            bodyHtml += "<td class='text-center text-danger'>" + data.data[i].errorCount + "</td>";
                            bodyHtml += "<td class='text-center'>" + data.data[i].avgExcutedMillisecond.toFixed(3) + "</td>";
                            bodyHtml += "<td class='text-center'>" + data.data[i].maxExcutedMillisecond.toFixed(3) + "</td>";
                            bodyHtml += "<td class='text-center'>" + data.data[i].minExcutedMillisecond.toFixed(3) + "</td>";
                            bodyHtml += "</tr>";
                        }
                    }
                    if (bodyHtml == "") {
                        bodyHtml = "<tr><td class='text-center text-danger' colspan='6'>暂无记录</td></tr>";
                    }
                    $("#MethodRequestList").find("tbody").html(bodyHtml);
                    var pageHtml = createPageInfo(data.pageInfo, "InstallLoadExcuteMethod");
                    $("#MethodRequestList-PageInfo").html(pageHtml);
                }
            })
        }

        function InstallLoadExcuteErrorMethod(pageIndex) {
            $.ajax({
                type: "get",
                url: "/Home/LoadExcuteErrorMethod",
                data: { timeType: $("#timeType").val(), startTime: $("#startTime").val(), endTime: $("#endTime").val(), pageIndex: pageIndex },
                success: function (data) {
                    console.log(data);
                    var bodyHtml = "";
                    if (data.data) {
                        for (var i = 0; i < data.data.length; i++) {
                            bodyHtml += "<tr>";
                            bodyHtml += "<td class='text-center'>" + data.data[i].requestTypeName + "-" + data.data[i].requestMethodName + "-" + data.data[i].requestParameterCount + "</td>";
                            bodyHtml += "<td class='text-center'>" + data.data[i].requestTime + "</td>";
                            bodyHtml += "<td class='text-center text-danger'>" + data.data[i].errorMsg + "</td>";
                            bodyHtml += "</tr>";
                        }
                    }
                    if (bodyHtml == "") {
                        bodyHtml = "<tr><td class='text-center text-danger' colspan='3'>暂无记录</td></tr>";
                    }
                    $("#ErrorMethodRequestList").find("tbody").html(bodyHtml);
                    var pageHtml = createPageInfo(data.pageInfo, "InstallLoadExcuteErrorMethod");
                    $("#ErrorMethodRequestList-PageInfo").html(pageHtml);
                }
            })
        }

        function createPageInfo(pageInfo, functionName) {
            var pageHtml = "共 " + pageInfo.totalPage + "页" + pageInfo.totalPage + " 条记录 <div class='am-fr'><ul class='am-pagination'>";

            if (pageInfo.currentPage > 1) {
                pageHtml += "<li class='am-active'><a onclick='" + functionName + "(1)'>首页</a></li>";

            }
            if (pageInfo.havePrePage) {
                pageHtml += "<li class='am-active'><a onclick='" + functionName + "(" + (pageInfo.currentPage - 1).toString() + ")'>上一页</a></li>";
            } else {
                pageHtml += "<li class='am-disabled'><a onclick='javascript:void(0);'>上一页</a></li>";

            }
            pageHtml += "<li class='am-disabled'><a onclick='javascript:void(0);'>" + pageInfo.currentPage + "</a></li>";
            if (pageInfo.haveNextPage) {
                pageHtml += "<li class='am-active'><a onclick='" + functionName + "(" + (pageInfo.currentPage + 1) + ")'>下一页</a></li>";
            } else {
                pageHtml += "<li class='am-disabled'><a onclick='javascript:void(0);'>下一页</a></li>";

            }
            if (pageInfo.currentPage < pageInfo.totalPage) {
                pageHtml += "<li class='am-active'><a onclick='" + functionName + "(" + pageInfo.totalPage + ")'>首页</a></li>";

            }
            return pageHtml;
        }

        function createSeries(data, descArray) {
            var array = new Array();
            for (var i = 0; i < data.length; i++) {
                if ($.inArray(data[i].description, descArray) >= 0) {
                    array.push({ name: data[i].description, data: data[i].valueList, type: 'line', });
                }
            }
            return array;
        }

        function createOption(legendData, xAxisData, seriesData) {
            return {
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: legendData,
                    x: "right"
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: xAxisData,
                },
                yAxis: {
                    type: 'value'
                },
                series: seriesData
            };

        }
    </script>
</body>
</html>